@model IEnumerable<ExaminationManagement.Models.DataBaseModels.Major>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section head{
    @Styles.Render("~/Content/bootstrap-table")
    @Scripts.Render("~/Scripts/bootstrap-table")
    <script>
        $(document).ready(function () {
            $('#tb_majors').bootstrapTable({
                sortName: 'MajorName',
                striped: true,
                search: true,
                columns: [
                    {
                        field: 'MajorId',
                        visible: false
                    },
                    {
                        field: 'MajorName',
                        sortable: true,
                        editable: {
                            type: 'text'
                        }
                    },
                    {
                        field: 'Credit',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: 0,
                            step: 1
                        }
                    }
                ],
                onEditableSave: function (field, row, oldValue, $el) {
                    $.ajax({
                        url: '/Admin/EditMajor',
                        data: {
                            majorId: row.MajorId,
                            major: {
                                MajorName: row.MajorName,
                                Credit: row.Credit
                            }
                        },
                        type: 'post'
                    });
                }
            });
        });
    </script>
}

<table id="tb_majors">
    <thead>
        <tr>
            <th></th>
            <th>专业名称</th>
            <th>学分要求</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MajorId)</td>
                <td>@Html.DisplayFor(modelItem => item.MajorName)</td>
                <td>@Html.DisplayFor(modelItem => item.Credit)</td>
                <td>@Html.ActionLink("删除", "DeleteMajor", new { majorId = item.MajorId }, new { @class = "btn btn-link" })</td>
            </tr>
        }
    </tbody>
</table>