<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>考务管理</title>
    <link rel="shortcut icon" href="~/Resources/Icons/em_favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/Loadding")
    @Scripts.Render("~/Scripts/Loadding")

    @Scripts.Render("~/Scripts/jQuery")

    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/Scripts/bootstrap")

    @RenderSection("head", false)
    <link href="~/Content/Shared/Layout.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('.noExtension').hover(
                function () {
                    if ($(this).hasClass('Extension')) {
                        return;
                    }
                    $(this).children('.li-tip').css('visibility', 'visible');
                },
                function () {
                    if ($(this).hasClass('Extension')) {
                        return;
                    }
                    $(this).children('.li-tip').css('visibility', 'hidden');
                });
            $('.hasSub>a').click(function () {
                $(this).toggleClass('Extension');
                $(this).toggleClass('noExtension');
                $(this).children('.down').toggleClass('fa-angle-down');
                $(this).children('.down').addClass('fa-angle-up');
                $(this).next('ul').slideToggle();
            });
            $('#change').click(function () {
                $('#change_box').fadeIn();
            })
        });
    </script>
</head>

<body>
    <div id="header">
        <div>
            <img class="header-img" src="~/Resources/Icons/logo.png" alt="EM" />
            <span class="logo-text" style="color: rgb(18, 67, 99)">Examination</span>
            <span class="logo-text" style="color: rgb(255,255,255);">Management</span>
        </div>
        <div id="personal">
            <div>
                <img class="header-img" src="~/Resources/Icons/photo.jpg" alt="photo" />
                <span id="username">@ViewBag.userName</span>
            </div>
            <ul>
                @*<li>
                    <a href="">
                        <span class="fa fa-envelope-o personal-logo"></span>
                    </a>
                    <span class="tip head-tip">4</span>
                </li>*@
                <li>
                    <a href="#" id="change">
                        <span class="fa fa-gear personal-logo"></span>
                    </a>
                </li>
                <li>
                    <a href="/Account/SignOut">
                        <span class="fa fa-sign-out personal-logo"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="nav">
        <ul id="nav-menu">
            <li class="hasSub">
                <a href="#" class="noExtension">
                    <span class="fa fa-line-chart menu-icon"></span>
                    成绩分析
                    <span class="fa fa-angle-down down"></span>
                    <span class="tip li-tip">3</span>
                </a>
                <ul>
                    <li>
                        <a href="/Admin/ChartView">课程成绩分析</a>
                    </li>
                    <li>
                        <a href="/Admin/ChartClass">班级成绩分析</a>
                    </li>
                    <li>
                        <a href="/Admin/ChartTeacher">教师成绩分析</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/Admin/Major">
                    <span class="fa fa-plus menu-icon"></span>添加专业
                </a>
            </li>
            <li>
                <a href="/Admin/MajorMessage">
                    <span class="fa fa-object-group menu-icon"></span>专业信息
                </a>
            </li>
            <li>
                <a href="/Admin/Course">
                    <span class="fa fa-bars menu-icon"></span>添加课程
                </a>
            </li>
            <li>
                <a href="/Admin/CourseMessage">
                    <span class="fa fa-adjust menu-icon"></span>课程信息
                </a>
            </li>
            <li>
                <a href="/Admin/StudentMessage">
                    <span class="fa fa-commenting menu-icon"></span>学生信息
                </a>
            </li>
            <li>
                <a href="/Admin/Teacher">
                    <span class="fa fa-plus-square-o menu-icon"></span>添加教师
                </a>
            </li>
            <li>
                <a href="/Admin/TeacherMessage">
                    <span class="fa fa-commenting-o menu-icon"></span>教师信息
                </a>
            </li>
        </ul>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    
    @Html.Action("Changepwd", "Account")

</body>

</html>