@model IEnumerable<ExaminationManagement.Models.DataBaseModels.GradeForStudent>

@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
@section head{

    @Styles.Render("~/Content/bootstrap-table")
    @Scripts.Render("~/Scripts/bootstrap-table")

    <script>
        $(document).ready(function () {
            var courseData = {};
            $.ajax({
                url: '/Student/CourseList',
                type: 'get',
                async: false,
                success: function (data) {
                    $.each(data, function (index, item) {
                        courseData[item.CourseId] = item.CourseName;
                    });
                }
            });

            $('#tb_course').bootstrapTable({
                sortName: 'course',
                pagination: true,
                striped: true,
                search: true,
                showRefresh: true,
                showPaginationSwitch: true,
                onRefresh: function () {
                    location.reload();
                },
                columns: [
                    {
                        field: 'ID',
                        visible: false
                    },
                    {
                        field: 'course',
                        sortable: true,
                        formatter: function (value) {
                            return courseData[value];
                        }
                    },
                    {
                        field: 'term',
                        sortable: true
                    },
                    {
                        field: 'status',
                        sortable: true,
                        formatter: function (value) {
                            if (value == 1)
                                return '首修';
                            else
                                return '重修';
                        }
                    },
                    {
                        field: 'teacher',
                        sortable: true
                    },
                    {
                        field: 'grade',
                        sortable: true,
                        //formatter: function (value) {
                        //    if (value == '')
                        //        return '未录入';
                        //}
                    }
                ]
            });
        });
    </script>
}

<table id="tb_course">
    <thead>
        <tr>
            <th>标识符</th>
            <th>课程</th>
            <th>学期</th>
            <th>首修/重修</th>
            <th>教师</th>
            <th>成绩</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.CourseId)</td>
            <td>@Html.DisplayFor(modelItem => item.Term)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
            <td>@Html.DisplayFor(modelItem => item.TeacherName)</td>
            <td>@Html.DisplayFor(modelItem => item.TotalRemark)</td>
            <td>@Html.ActionLink("评价", "Evaluate", new { id = item.Id }, new { @class = "btn btn-link" })</td>
        </tr>
        }
    </tbody>
</table>
