@model ExaminationManagement.Models.DataBaseModels.StuInfo

@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
@section head{
    @Styles.Render("~/Content/bootstrap-table")
    @Scripts.Render("~/Scripts/bootstrap-table")
    <script>
        $(document).ready(function () {
            $('#tb_message').bootstrapTable({
                striped: true,
                columns: [
                    {
                        field: 'stuid'
                    },
                    {
                        field: 'name'
                    },
                    {
                        field: 'tel',
                        editable: {
                            validate: function (v) {
                                if (isNaN(v))
                                    return '请输入数字';
                            }
                        }
                    },
                    {
                        field: 'email',
                        editable: {
                            validate: function (v) {
                                if (v == '')
                                    return '输入不可为空';
                            }
                        }
                    },
                    {
                        field: 'class'
                    },
                    {
                        field: 'birth',
                        editable: {
                            type: 'date'
                        }
                    },
                    {
                        field: 'encroll'
                    },
                    {
                        field: 'got'
                    },
                    {
                        field: 'need'
                    }
                ],
                onEditableSave: function (field, row, oldValue, $el) {
                    $.ajax({
                        url: '/Student/Change',
                        data: {
                            Birth: row.birth,
                            Tel: row.tel,
                            Email: row.email
                        },
                        type: 'post'
                    });
                }
            });
        })
    </script>
}
<div style="margin-top:220px;">
    <table id="tb_message">
        <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>电话</th>
                <th>邮箱</th>
                <th>班级</th>
                <th>生日</th>
                <th>入学年份</th>
                <th>已获学分</th>
                <th>所需学分</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Stu_id)</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Tel)</td>
                <td>@Html.DisplayFor(model => model.Email)</td>
                <td>@Html.DisplayFor(model => model.ClassNumer)</td>
                <td>@Html.DisplayFor(model => model.Birth)</td>
                <td>@Html.DisplayFor(model => model.Enroll_year)</td>
                <td>@Html.DisplayFor(model => model.Credit_got)</td>
                <td>@Html.DisplayFor(model => model.Credit_need)</td>
            </tr>
        </tbody>
    </table>
</div>